
@{
    ViewData["Title"] = "Detail Page";
}

<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

        .tg td {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
        }

        .tg th {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
        }

        .tg .tg-6ic8 {
            border-color: inherit;
            font-weight: bold;
            text-align: right;
            vertical-align: top
        }

        .tg .tg-0pky {
            border-color: inherit;
            text-align: left;
            vertical-align: top
        }
</style>
<table class="tg">

    <tbody>
        <tr>
            <td class="tg-6ic8">Last:</td>
            <td class="tg-0pky"><div contenteditable="true">Smith</div></td>
            <td><button>Edit</button></td>

        </tr>
        <tr>
            <td class="tg-6ic8">First:</td>
            <td class="tg-0pky"><div contenteditable="true">John</div></td>
            <td><button>Edit</button></td>


        </tr>
        <tr>
            <td class="tg-6ic8">Address:</td>
            <td class="tg-0pky"><div contenteditable="true">638 Sparkman Dr NW</div></td>
            <td><button>Edit</button></td>

        </tr>
        <tr>
            <td class="tg-6ic8">Phone:</td>
            <td class="tg-0pky"><div contenteditable="true">2561234567</div></td>
            <td><button>Edit</button></td>

        </tr>
        <tr>
            <td class="tg-6ic8">Room:</td>
            <td class="tg-0pky"><div contenteditable="true">127</div></td>
            <td><button>Edit</button></td>

        </tr>
        <tr>
            <td class="tg-6ic8">Doctor:</td>
            <td class="tg-0pky"><div contenteditable="true">Dr. Sanchez</div></td>
            <td><button>Edit</button></td>

        </tr>
        <tr>
            <td class="tg-6ic8">Admission Date:</td>
            <td class="tg-0pky"><div contenteditable="true">3/1/2022</div></td>
            <td><button>Edit</button></td>

        </tr>
        <tr>
            <td class="tg-6ic8">Discharge Date</td>
            <td class="tg-0pky"><div contenteditable="true">3/3/2022</div></td>
            <td><button>Edit</button></td>

        </tr>
        <tr>
            <td class="tg-6ic8">Doctor Notes:</td>
            <td class="tg-0pky"><div contenteditable="true">Prescribed Ibuprofen</div></td>
            <td><button>Edit</button></td>

        </tr>
        <tr>
            <td class="tg-6ic8">Nurse Notes</td>
            <td class="tg-0pky"><div contenteditable="true">Change IV at 12:00 pm</div></td>
            <td><button>Edit</button></td>

        </tr>
    </tbody>
</table>
