@{
    ViewData["Title"] = "Edit Page";
}

<style type="text/css">
    label {
        font-weight: bold;
        text-align: left;
    }

    hr {
        width: 100%;
    }
</style>


<form>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1">First Name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1">Middle Name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1">Last Name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1">Home Phone</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1">Work Phone</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1">Cell Phone</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Address</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="exampleInputEmail1">City</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1">State</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group col-md-2">
            <label for="exampleInputEmail1">Zip</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
    </div>
    <hr />
    <label>Emergency Contact 1</label>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1">Name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1">Phone</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1">Relationship To Patient</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
    </div>
    <hr />
    <label>Emergency Contact 2</label>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1">Name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1">Phone</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1">Relationship To Patient</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
    </div>
    <hr />
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1">Admission Date</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1">Admission Time</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1">Admission Reason</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
    </div>
    <hr />
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1">Discharge Date</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1">Discharge Time</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
    </div>
    <hr />
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1">Family Doctor</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
    </div>
    <hr />
    <label>Location</label>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1">Floor</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1">Room Number</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group col-md-4">
            <label for="exampleInputEmail1">Bed Number</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
    </div>
    <hr />
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Doctor Notes</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <hr />
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Nurse Notes</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <hr />
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Prescriptions</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <hr />
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Scheduled Procedures</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    @*<div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>*@
    <button type="submit" class="btn btn-primary">Save</button>
</form>