@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<style>
    table {
        width: 100%;
    }
</style>
<div className="container body-content container-grid">
    @*@{ if (Model.Role == 0)}
        <a type="button" class="btn btn-secondary btn-lg btn-block" asp-controller="Home" asp-action="DoctorPatientList">Patient List</a>
    @{ if (Model.Role == 1)}
        <a type="button" class="btn btn-secondary btn-lg btn-block" asp-controller="Home" asp-action="NursePatientList">Patient List</a>
    @{ if (Model.Role == 2)}
        <a type="button" class="btn btn-secondary btn-lg btn-block" asp-controller="Home" asp-action="OfficePatientList">Patient List</a>
    @{ if (Model.Role == 3)}
        <a type="button" class="btn btn-secondary btn-lg btn-block" asp-controller="Home" asp-action="VolunteerPatientList">Patient List</a>*@
    <h4>@ViewBag.userid</h4>
    <a type="button" class="btn btn-secondary btn-lg btn-block" asp-controller="Home" asp-action="DoctorPatientList">Patient List</a>
    <a type="button" class="btn btn-secondary btn-lg btn-block" asp-controller="Account" asp-action="Login">Logout</a>
</div>
